{% raw %}
<a-card v-for="service in services" style="margin-bottom: 16px">
  <a slot="title" @click="copyToClipboard(service.domain)">
    <a-icon type="global"></a-icon>
    {{ service.domain }}
  </a>
  <span slot="extra">
    <a-icon type="clock-circle"></a-icon>
    {{ new Date(service.created_at).toLocaleString() }}
  </span>
  <a-card-grid style="width: 50%" :hoverable="false">
    <div style="margin-bottom: 24px">
      <a-tag color="green">
        <a-icon type="gold"></a-icon>
        {{ service.port }}
      </a-tag>
      <a-tag color="blue">
        <a-icon type="database"></a-icon>
        {{ service.protocol }}
      </a-tag>
      <div style="float: right">
        <span style="margin-right: 8px">
          <a-icon type="link"></a-icon>
          TCP
        </span>
        <span>
          <a-icon type="api"></a-icon>
          {{ service.ip }}
        </span>
      </div>
    </div>
    <a-descriptions :column="2">
      <a-descriptions-item label="自治域编号">
        {{ service.asn }}
      </a-descriptions-item>
      <a-descriptions-item label="网站服务器">
        {{ service.server }}
      </a-descriptions-item>
      <a-descriptions-item label="自治域">
        {{ service.asn_organization }}
      </a-descriptions-item>
      <a-descriptions-item label="网站框架">
        {{ service.powered_by }}
      </a-descriptions-item>
      <a-descriptions-item label="运营商">
        {{ service.asn_organization }}
      </a-descriptions-item>
      <a-descriptions-item label="网站标题">
        {{ service.title }}
      </a-descriptions-item>
      <a-descriptions-item label="IP 归属">
        {{ service.country }} {{ service.city }}
      </a-descriptions-item>
      <a-descriptions-item label="主机名">
        {{ service.reverse_dns }}
      </a-descriptions-item>
    </a-descriptions>
  </a-card-grid>
  <a-card-grid
    style="width: 50%; padding-top: 8px; box-shadow: none"
    :hoverable="false"
  >
    <a-tabs default-active-key="1">
      <a-tab-pane key="1" tab="端口响应">
        <a-textarea
          style="width: 100%"
          :autosize="{ minRows: 6, maxRows: 6 }"
          :value="service.banner"
          readonly
        ></a-textarea>
      </a-tab-pane>
    </a-tabs>
  </a-card-grid>
</a-card>
{% endraw %}
